<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Fantasy Adventure Sheet</h1>
    </ion-header-bar>

    <ion-content>
                
        <ion-list type="card">
            <ion-item ng-repeat="statistic in statistics">
                <h2>{{statistic.name}}</h2>
                <h3>Current:  {{statistic.currentValue}}
                    <button class="button button-small icon ion-plus pull-right">
                    </button>
                    <button class="button button-small icon ion-minus pull-right">
                    </button>
                </h3>
                <h3>Initial: {{statistic.initialValue}}
                    <button class="button button-small icon ion-plus">
                    </button>
                    <button class="button button-small icon ion-minus">
                    </button>
                </h3>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
